<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruixuan</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Nunito:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/bootstrap-5.0.0/scss/bootstrap.css">
  <link rel="stylesheet" href="css/scss/main.css">
</head>
<body>
  <div id="RuiXuan">
    <div>
      <div :class="{'hideContent': showNav === false}" class="position-fixed px-2 bg-white w-p100"
      style="opacity: 0.8;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);z-index: 10;">
        <div class="d-flex justify-content-between align-items-center">
          <a id="logo" href="#Home"
          class="d-flex align-items-center justify-content-center rounded-circle h-8 w-8 cursor-pointer">
            <h3>Rui</h3>
          </a>
          <div class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#menu">
            <i class="bi bi-list" style="font-size: 2.25rem;"></i>
          </div>
        </div>
      </div>
    </div>
    <div :class="{'d-none': showBackTop === false}" class="position-fixed" style="bottom: 8%; right: 1%;z-index: 100;">
      <a href="#Home"><h1><i class="bi bi-arrow-up-circle" style="font-size: 2rem;"></i></h1></a>
    </div>
    <!-- Home -->
    <section id="Home" class="d-flex justify-content-center align-items-center" style="background-image: url(images/index.jpg);">
      <div class="bg-white h-70 w-70 p-10" style="opacity: 0.8;">
        <div class="d-flex flex-column align-items-center justify-content-center h-p100">
          <h1 class="pt-4 pb-10">劉睿璇</h1>
          <div id="typed-strings">
            <p>RuiXuan Liu</p>
            <p>ERP / MIS / 營管助理</p>
            <p>中原大學 資訊管理學系</p>
          </div>
          <span id="typed" style="min-height: 1.5rem;"></span>
        </div>
      </div>
    </section>
    <!-- About -->
    <section id="About" class="d-flex flex-column flex-sm-row justify-content-sm-center align-items-sm-center vh-100">
      <div class="col-12 col-sm-4" data-aos="fade-in">
        <img src="images/personal.JPG" alt="" class="w-p100">
      </div>
      <!-- 電腦板顯示 -->
      <div class="d-none d-sm-flex flex-column justify-content-center w-90 p-5 bg-linen" data-aos="fade-in">
        <div class="d-flex justify-content-between align-items-center pt-6">
          <div class="border-black" style="border-left: 0.25rem solid #E9E9E9;">
            <h2 class="ps-1">劉睿璇</h2>
          </div>
          <h4 class="text-darkBlue">CYCU.資訊管理學系</h4>
        </div>
        <div class="pt-2">
          <div class="swiper swiperAbout">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <pre><h4>
▹ Goater • 哥德廚具股份有限公司
　2020.06 ~ 至今

　- ERP 應用專員
　- MIS
　- 營管助理
                </h4></pre>
              </div>
              <div class="swiper-slide">
                <pre><h4>
▹ Whoscall • 走著瞧股份有限公司
　2019.06 ~ 2020.06

　- QA 實習生
                </h4></pre>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="mailto:Therxuans@gmail.com"><h2><i class="bi bi-envelope"></i></h2></a>
        </div>
      </div>
      <!-- 手機板顯示-不輪播 -->
      <div class="d-sm-none d-flex flex-column justify-content-evenly flex-grow-1 px-5 bg-linen">
        <div class="d-flex justify-content-between align-items-center pt-2 pt-sm-6" data-aos="fade-in">
          <div class="border-black" style="border-left: 0.25rem solid #E9E9E9;">
            <h2 class="ps-1">劉睿璇</h2>
          </div>
          <h4 class="text-darkBlue">CYCU.資訊管理學系</h4>
        </div>
        <div>
          <div data-aos="fade-in">
            <pre class="mb-0"><h4>
▹ Goater • 哥德廚具股份有限公司
　2020.06 ~ 至今

　- ERP 應用專員
　- MIS
　- 營管助理
            </h4></pre>
          </div>
          <div data-aos="fade-in">
            <pre class="mb-0"><h4>
▹ Whoscall • 走著瞧股份有限公司
　2019.06 ~ 2020.06

　- QA 實習生
            </h4></pre>
          </div>
        </div>
        <div class="d-flex justify-content-end" data-aos="fade-in">
          <a href="mailto:Therxuans@gmail.com"><h2><i class="bi bi-envelope"></i></h2></a>
        </div>
      </div>
    </section>
    <!-- Skills -->
    <section id="Skills" class="d-flex justify-content-sm-center align-items-center vh-100 bg-mainBlue w-p100">
      <!-- 電腦板顯示 -->
      <div class="d-none d-sm-flex position-relative align-items-center justify-content-evenly bg-bgBlue" data-aos="fade-in"
      style="min-width: 70vw;min-height: 70vh;">
        <div class="position-absolute p-1 w-p75 bg-white rounded" style="top:-5%">
          <h2 class="text-center">Skills</h2>
        </div>
        <div v-for="(item, index) in skillsList" :key="item.name">
          <div class="d-flex position-relative">
            <div class="skillsBlock p-2" @mouseover="this.mouseOver = item.name"
            @mouseleave="this.mouseOver = ''">
              <img :src="item.url" alt="" class="w-30">
              <h3 class="pt-8 text-center">{{item.name}}</h3>
            </div>
            <div v-if="mouseOver === item.name" class="position-absolute d-flex align-items-center start-100 px-4 bg-white h-p100"
            style="z-index:100;width: max-content;border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem;">
              <div class="py-4" v-if="index === 0">
                <h4 style="font-size: 1.25rem;" class="py-2">{{erpContent.title}}</h4>
                <ul class="mb-0">
                  <li v-for="item in erpContent.content">{{item.name}}</li>
                </ul>
              </div>
              <div class="py-4" v-if="index === 1">
                <h4 style="font-size: 1.25rem;" class="pb-2">{{misContent.title}}</h4>
                <ul>
                  <li v-for="item in misContent.content">{{item.name}}</li>
                </ul>
              </div>
              <div class="py-4" v-if="index === 2">
                <h4 style="font-size: 1.25rem;" class="pb-2">{{pythonContent.title}}</h4>
                <ul>
                  <li v-for="item in pythonContent.content">{{item.name}}</li>
                </ul>
              </div>
              <div class="py-4" v-if="index === 3">
                <h4 style="font-size: 1.25rem;" class="pb-2">{{sqlContent.title}}</h4>
                <ul>
                  <li v-for="item in sqlContent.content">{{item.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 手機板顯示 -->
      <div class="d-sm-none d-flex flex-column justify-content-evenly position-relative bg-bgBlue h-p90 w-p100">
        <div class="position-absolute p-1 w-p75 bg-white rounded top-0 start-50" style="transform: translate(-50%, -50%);">
          <h3 class="text-center">Skills</h3>
        </div>
        <div v-for="(item, index) in skillsList" :key="item.name"
        class="d-flex align-content-center"
        :class="{'flex-row-reverse': index % 2 !== 0}">
          <div class="d-flex align-items-center justify-content-center px-3 col-4" data-aos="fade-in">
            <img :src="item.url" alt="" class="w-15">
          </div>
          <div class="col-8 d-flex flex-column justify-content-center w-p75 py-4 mx-2 bg-white rounded" data-aos="fade-in"
          v-if="index === 0">
            <h4 class="d-inline-block m-auto">{{erpContent.title}}</h4>
            <ul class="ps-6 mb-0 m-auto">
              <li v-for="item in erpContent.content">{{item.name}}</li>
            </ul>
          </div>
          <div class="col-8 d-flex flex-column justify-content-center w-p75 py-4 mx-2 bg-white rounded" data-aos="fade-in"
          v-if="index === 1">
            <h4 class="d-inline-block m-auto">{{misContent.title}}</h4>
            <ul class="ps-6 mb-0 m-auto">
              <li v-for="item in misContent.content">{{item.name}}</li>
            </ul>
          </div>
          <div class="col-8 d-flex flex-column justify-content-center w-p75 py-4 mx-2 bg-white rounded" data-aos="fade-in"
          v-if="index === 2">
            <h4 class="d-inline-block m-auto">{{pythonContent.title}}</h4>
            <ul class="ps-6 mb-0 m-auto">
              <li v-for="item in pythonContent.content">{{item.name}}</li>
            </ul>
          </div>
          <div class="col-8 d-flex flex-column justify-content-center w-p75 py-4 mx-2 bg-white rounded" data-aos="fade-in"
          v-if="index === 3">
            <h4 class="d-inline-block m-auto">{{sqlContent.title}}</h4>
            <ul class="ps-6 mb-0 m-auto">
              <li v-for="item in sqlContent.content">{{item.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Interest -->
    <section id="Interest" class="d-flex flex-column justify-content-sm-center align-items-center vh-100 mt-10 mt-sm-0">
      <div class="p-1 bg-mainBlue rounded text-center" style="width: 75vw;" data-aos="fade-in">
        <h2>Interest</h2>
      </div>
      <div class="pt-6">
        <!-- 電腦板顯示 -->
        <div class="d-none d-sm-block swiper swiperInterest" data-aos="fade-in">
          <div class="swiper-wrapper" style="width: 45vw;">
            <!-- Slides -->
            <div v-for="item in interestCarousel" :key="item.name" class="swiper-slide">
              <img :src="item.url" alt="" class="h-p100 w-p100">
              <h3 class="pt-4 text-center">{{item.name}}</h3>
            </div>
          </div>
        </div>
        <!-- 手機板顯示 -->
        <div class="d-sm-none swiper swiperInterest" data-aos="fade-in">
          <div class="swiper-wrapper" style="width: 100vw;">
            <!-- Slides -->
            <div v-for="item in interestCarousel" :key="item.name" class="swiper-slide">
              <img :src="item.url" alt="" class="w-p100"
              :style="item.name === 'Photography' ? 'height: 60vh' :''">
              <h3 class="pt-4 text-center">{{item.name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-mainBlue">
      <div class="d-flex p-4 justify-content-sm-between">
        <div class="d-flex col-12 col-sm-6">
          <div v-for="item in footerMenu" :key="item.name" class="col-4 col-sm-2">
            <a :href="item.href" class="text-center"><h4>{{item.name}}</h4></a>
          </div>
        </div>
        <div class="d-none d-sm-flex cursor-pointer"
        data-bs-toggle="modal" data-bs-target="#iconCopyRight">
          <span style="font-size: 0.5rem;">All icon designed by Freepik,Smashicons,srip from Flaticon</span>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="iconCopyRight" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-0">
          <div class="modal-body">
            <span>ICON COPYRIGHT</span>
            <ol class="my-4">
              <li>python & ERP & Mail icons created by Freepi</li>
              <li>SQL icons created by Smashicons</li>
              <li>it support  icons created by srip</li>
            </ol>
            <span>And all of the above are from Flaticon</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="menu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog m-0 ms-auto">
        <div class="modal-content rounded-0 vh-100 bg-darkGray">
          <div class="modal-body">
            <div class="d-flex justify-content-end cursor-pointer" data-bs-dismiss="modal">
              <i class="bi bi-x-lg text-white"></i>
            </div>
            <div v-for="item in footerMenu" :key="item.name" class="p-4">
              <a :href="item.href"><h4 :class="{'text-danger': anchorName === item.name}">{{item.name}}</h4></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="js/lib/bootstrap.js"></script>
  <script src="js/lib/vue@3.2.33.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <!-- 自定義js -->
  <script src="js/index.js"></script>
  <script src="js/type.js"></script>
  <script src="js/swiper.js"></script>
</body>
</html>