body {
  font-family: 'Noto Sans TC', sans-serif !important;
  font-family: 'Nunito', sans-serif !important;
}

li {
  line-height: 2rem;
}

.cursor-pointer{
  cursor: pointer;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 2s;
}
.fade-leave-to {
  opacity: 0;
}

#Home {
  height: 100vh;
  background-position:center;
}

#logo {
  background-color: #AADDFF;
  color: #1264b3;
}

#menu{
  .modal-dialog {
    width: 18.75rem;
    animation:MoveToLeft 0.8s;
    h4{
      font-size: 1.25rem;
      color: #ffffff;
      &:hover{
        color: #DF0117;
      }
    }
  }
}

@keyframes MoveToLeft{
  0%{transform:translateX(300px);}
}

@media (max-width: 576px) {
  #menu{
    .modal-dialog {
      width: 12.5rem;
    }
  }
  .hideContent {
    display: none !important;
  }
  li, h4 {
    font-size: 0.75rem;
    line-height: normal;
  }
}

.skillsBlock {
  &:hover {
    background-color: #ffffff;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    cursor: pointer;
  }
}
// 輪播按鈕顏色
.swiper-pagination-bullet-active{
  background: #2256BD;
}